$color-body: #f7fbff;
$color-main: #acbacb;
$color-receipt: #53657c;
$font-color: #53657c;
$font-color-receipt: #f7fbff;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: $color-body;
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
}

main {
  color: $font-color;
  width: 80%;
  margin: 5px auto;
  background: $color-main;
  //border-radius: 5px;
  padding: 20px;
  //box-shadow: 0 0 1px 1px #6d6d6d;
  h1 {
    font-family: 'Caveat', cursive;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    a {
      color: $font-color;
      text-decoration: none;
      &:visited, &:hover, &:active, &:link {
        color: $font-color;
        text-decoration: none;
      }
    }
  }

  .receipts-grid {
    form {
      input {
        //border-radius: 3px;
        outline: none;
        margin: 5px 10px;
        padding: 5px;
        border: 1px solid #7b7f98;
      }
    }
    .receipt {
      display: inline-block;
      width: 400px;
      margin: 5px 10px;
      padding: 10px;
      //border-radius: 5px;
      box-shadow: 1px 1px 1px 0 #000;
      background: $color-receipt;
      position: relative;
      a {
        color: $font-color-receipt;
        //color: #000;
        text-decoration: none;
        &:visited, &:hover, &:active, &:link {
          color: $font-color-receipt;
          //color: #000;
          text-decoration: none;
        }
      }
      .delete-receipt-button {
        background: transparent;
        color: $font-color-receipt;
        border: none;
        outline: none;
        font-size: 20px;
        padding: 0;
        height: 20px;
        width: 20px;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        opacity: 0;
        transform: rotate(0deg);
        transform-origin: 50% 50%;
        transition: opacity 500ms, transform 500ms;
      }
      &:hover {
        .delete-receipt-button {
          opacity: 1;
          transform: rotate(360deg);
        }
      }
    }
  }
  .receipt-details {
    background: $color-receipt;
    .delete-receipt-button {
      display: none;
    }
  }

  .receipt-details {
    margin: 20px 0 0;
    .receipt {
      display: inline-block;
      margin: 5px 10px;
      padding: 10px;
      position: relative;
      a {
        color: $font-color-receipt;
        text-decoration: none;
        &:visited, &:hover, &:active, &:link {
          color: $font-color-receipt;
          text-decoration: none;
        }
      }
      .delete-receipt-button {
        background: transparent;
        border: none;
        outline: none;
      }
    }
    .item-list {
      margin: 5px 10px;
      padding: 10px;
      color: $font-color-receipt;
      form:first-of-type {
        margin: 0 0 15px;
          input {
            //border-radius: 3px;
            outline: none;
            margin: 5px 10px;
            padding: 5px;
            border: 1px solid #7b7f98;
          }
      }
      .item {
        margin: 15px 0;
        button {
          background: #ddd;
          outline: 0;
          border: 1px solid $color-main;
          //border-radius: 3px;
        }
      }
    }
  }
}



